#hbox {
    -fx-padding: 8px;
    -fx-spacing: 12px;
    -fx-alignment: center-left;
}

#urlField {
    -fx-font-size: 12pt;
}

#backImage {
    -fx-image: url("images/lbutton1.png");
}

#backImage:hover {
    -fx-image: url("images/lbutton2.png");
}

#backImage:pressed {
    -fx-image: url("images/lbutton3.png");
}

#forwardImage {
    -fx-image: url("images/rbutton1.png");
}

#forwardImage:hover {
    -fx-image: url("images/rbutton2.png");
}

#forwardImage:pressed {
    -fx-image: url("images/rbutton3.png");
}